@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Fix */
html, body {
  scroll-behavior: smooth;
  transition: background-color 0.3s, color 0.3s;
  overflow-x: hidden; /*  Prevent horizontal scroll (fix white line) */
}

/* Body Theme */
body {
  font-family: 'Inter', sans-serif;
  @apply bg-gray-100 text-black dark:bg-[#0f172a] dark:text-white;
}

/* Universal Box Fix (recommended) */
* {
  box-sizing: border-box;
}

/* About Section Glow */
.shadow-glow {
  box-shadow: 0 0 10px rgba(0, 188, 212, 0.3),
              0 0 20px rgba(255, 64, 129, 0.2);
}

/* Floating Animation */
@keyframes floaty {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-5px); }
}

.animate-floaty {
  animation: floaty 6s ease-in-out infinite;
}
/* Cirtificate section */
/* Auto scroll */
@keyframes autoScroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-autoScroll {
  animation: autoScroll 25s linear infinite;
}

.animate-autoScroll:hover {
  animation-play-state: paused;
}

/* Thin glowing border */
@keyframes borderGlow {
  0% {
    background: linear-gradient(90deg, #00f0ff, #ff00ff);
  }
  50% {
    background: linear-gradient(90deg, #00ff94, #00f0ff);
  }
  100% {
    background: linear-gradient(90deg, #ff00ff, #00ff94);
  }
}

.animate-border {
  animation: borderGlow 3s linear infinite;
  border-radius: 16px;
}